<nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
  <a class="navbar-brand" routerLink="/home">AH</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/how-it-works">How it Works</a>
      <a class="nav-item nav-link" routerLink="/recipient">Become A Recipient</a>
      <a class="nav-item nav-link" routerLink="/writer">Become A Writer</a>
      <a class="nav-item nav-link" routerLink="/stats">Stats</a>
    </div>
    <div class="navbar-nav ml-auto">
      <a *ngIf="!authService.isLoggedIn" (click)="authService.login()" class="nav-link active" data-toggle="modal" data-target="#signUpModal">Sign Up</a>     
      <a *ngIf="!authService.isLoggedIn" (click)="authService.login()" class="nav-link">Sign In</a>
      <span *ngIf="authService.isLoggedIn" class="nav-link active">Welcome {{ authService.userProfile.nickname }}</span>
      <a *ngIf="authService.isLoggedIn" (click)="authService.logout()" class="nav-link">Sign Out</a>
    </div>
  </div>
</nav>